/* centered columns styles */
.row-centered {
    text-align:center;
    margin:22px;
    padding:22px; 
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

div.row {

margin:-15px;
}